audioread==2.1.6
cycler==0.10.0
decorator==4.3.0
joblib==0.13.0
kiwisolver==1.0.1
librosa==0.6.2
llvmlite==0.25.0
matplotlib==3.0.2
MIDIUtil==1.2.1
mido==1.2.9
music21==5.5.0
mypy==0.641
mypy-extensions==0.4.1
numba==0.40.1
numpy==1.15.4
pyparsing==2.3.0
python-dateutil==2.7.5
resampy==0.2.1
scikit-learn==0.20.1
scipy==1.1.0
six==1.11.0
typed-ast==1.1.0
vamp==1.1.0
